.nav-mobile {
  background-color: var(--main-color);
  padding: 90px 30px;
  z-index: 1;
  display: none;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.4s;

  .nav-burger-menu-language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      font-family: var(--main-font-family);
      font-size: 18px;
      color: #ffffff;
      padding: 9px;
      position: relative;
      text-decoration: none;
    }

    a::after {
      position: absolute;
      top: 30px;
      left: 10px;
      content: "";
      display: block;
      height: 1.5px;
      width: 0;
      background: white;
      transition: 0.3s ease all;
    }

    a:hover::after {
      width: 79%;
    }
    img {
      display: inline-block;
      width: 100%;
    }
  }

  .nav-burger-menu-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 30px 30px;

    a {
      text-decoration: none;
      font-family: var(--main-font-family);
      font-size: 44px;
      color: #ffffff;
      opacity: 1;
    }

    a:hover {
      transition-property: opacity;
      transition-duration: 0.2s;
      opacity: 0.5;
    }

    img {
      align-self: flex-end;
    }
  }
}

.nav-mobile.is-open {
  opacity: 1;
  position: absolute;
  display: block;
}

.nav {
  position: relative;
  img.logo {
    height: 26px;
  }
}

.nav-desktop {
  display: none;
  a {
    padding: 0 10px 0;
    position: relative;
    text-decoration: none;
  }
  a::after {
    position: absolute;
    top: 26px;
    left: 10px;
    content: "";
    display: block;
    height: 1.5px;
    width: 0;
    background: white;
    transition: 0.3s ease all;
  }

  a:hover::after {
    width: 79%;
  }
}

@media (min-width: 992px) {
  .nav-desktop {
    display: block;
  }

  .burger-menu-button {
    display: none;
  }

  .nav-mobile {
    display: none !important;
  }
}
