.recipe {
  a {
    font-family: var(--second-font-family);
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 27px;
    display: inline-block;
  }
}
