.recipe {
  a {
    font-family: var(--second-font-family);
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 27px;
    display: inline-block;
    transition-property: background-color;
    transition-duration: 0.4s;
  }

  a:hover {
    border: none;
    color: var(--main-color);
    background-color: white;
  }
}
