/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #007eb9;
  --black-tea-product-color: #fb7a96;
  --tonic-bio-product-color: #dea86c;
  --ginger-beer-product-color: #ff8603;
  --h3-color: #f4f4f4;
  --main-font-family: coolvetica, sans-serif;
  --second-font-family: roboto, sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

h1 {
  font-family: var(--main-font-family);
  font-size: 27px;
  font-weight: 400;
}

@media (min-width: 992px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-family: var(--second-font-family);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 32px;
  color: white;
  text-align: center;
}

@media (min-width: 992px) {
  h2 {
    font-size: 36px;
    text-align: left;
  }
}

h3 {
  font-family: var(--second-font-family);

  font-size: 16px;
  font-weight: 400;
  color: var(--h3-color);
}

h4 {
  font-family: var(--second-font-family);
  font-size: 10px;
  font-weight: 500;
  color: white;
  margin-bottom: 4px;
}

@media (min-width: 992px) {
  h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

p {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 300;
  color: white;
}

@media (min-width: 992px) {
  p {
    font-size: 24px;
    text-align: left;
  }
}

a {
  font-family: var(--second-font-family);
  font-size: 20px;
  color: white;
}
/* ====================================
// base rules
// ==================================== */
