.l-is-blocked {
  height: 100vh;
  overflow: hidden;
}

.l-top-bar {
  background-color: var(--main-color);
  padding: 80px 0 20px;
}

.l-banner {
  background-image: url(../img/header-main-page-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0 20px;
}

.l-intro {
  margin: 60px 0 60px;
  padding: 30px 0 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.l-nav-desktop {
  display: inline;
  padding: 0 70px 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.l-card {
  margin: 0 0 60px;

  .container-fluid {
    padding: 0;
  }

  img {
    padding: 0;
    height: 100%;
    object-fit: cover;
  }

  .l-card-content {
    background-color: var(--main-color);
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .l-card {
    .l-card-content {
      padding: 20px;
    }
  }
}

.l-footer {
  background-image: url(/src/img/footer-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 115px;
}

@media (min-width: 992px) {
  .l-footer {
    padding-top: 276px;
  }
}
